body, html {
    background-color:#FFFFFF;
    font-family:Helvetica, sans-serif;
}

code, pre {
    font-size:1.1em;
}

em {
    font-style:italic;
}

strong {
    font-weight:bold;
}

div#footer {
    clear:both;
    text-align:center;
}

div#super-wrap {
    line-height:1.5;
}

p.edit {
    background-color:#f0f0f0;
}

div#header-bar ul {
    float:right;
}

div#header-bar li {
    float:left;
}

div#header-bar li a {
    font-weight:bold;
    font-size:.9em;
    text-decoration:none;
    padding:0 .5em;
    position:relative;
    top:-1.7em;
}

div#header-bar {
    background-color:#F0F0F0;
    border-bottom:1px solid #ccc;
}

div#wrap {
    background-color:#FFFFFF;
    margin:0 auto;
    width:34em;
}

h3 {
    font-size:1.2em;
    margin:0.75em 0;
}

a, a:visited, a:active {
    color:#0044CC;
}

a:hover {
    color:#0022BB;
}

h1 {
    color:#444444;
    font-size:2.5em;
    font-weight:bold;
    letter-spacing:-1px;
    padding:.5em 0;
}

div#header-container {
    width:34em;
    margin:0 auto;
}

h2 {
    font-size:2.5em;
    margin:1em 0;
}

h2.short-title {
    font-size:1.5em;
}

blockquote {
    padding-left:2em;
    padding-right:2em;
    font-style:italic;
}

p {
    margin:1.5em 1em 1.5em 0;
}

label {
    float:right;
    font-weight:bold;
}

li.post, li.comment, div#comment-reply {
    color:#333333;
    font-size:0.85em;
    margin-bottom:1.5em;
    padding-bottom:1.5em;
    border-bottom:1px solid #ccc;
}

h4 {
    font-size:1.2em;
}

blockquote.preview {
    padding:0 1.5em;
    border:1px solid #ccc;
}

#id_name,
#id_url,
#id_email {
    width:65%;
}

#footer p {
    width:89%;
    margin:0 auto;
    padding:2em 0;
}

div#error h1 {
    font-size:15em;
}

div#error h3 {
    font-size:2em;
}

.post ul, .post ol {
    padding-left:2em;
}

.post ul li {
    list-style-type:square;
}

.post ol li {
    list-style-type:decimal;
}

.post-info {
    color:#999;
    font-style:italic;
    margin: 1em 0;
}
