html {
    background-color:#FDFDFD;
    width:100%;
    overflow-x:hidden;
}

body {
    background-color:#FDFDFD;
    font-family:"Helvetica Neue", Helvetica, sans-serif;
    border-top:.5em solid #000000;
}

code, pre {
    background-color:transparent !important;
    font-size:1.1em;
}

pre {
    margin:2em 0;
    line-height: 1.5;
}

em {
    font-style:italic;
}

strong {
    font-weight:bold;
}

div#footer {
    clear:both;
    text-align:center;
}

div#super-wrap {
    line-height:2;
    padding:3.5em 4em;
    border-top:.5em solid #33DD66;
}

p.edit {
    border: 1px solid #c0c0c0;
    padding: 1em;
}

div#header-bar {
    width:34em;
    margin:0 auto 4em;
}

div#header-bar p {
    font-size:.75em;
    margin-top:0;
}

div#wrap {
    margin:2em auto;
    width:34em;
}

#footer p {
    width:34em;
    font-size:.75em;
    margin:2em auto;
}


h3 {
    font-size:1.2em;
    margin:0.75em 0;
}

a, a:visited, a:active {
    color:#3366DD;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

h3, h4, h5 {
    font-weight:bold;
}

h1 {
    font-size:1em;
    margin: 0 0 1em;
}

h2 {
    font-size:2em;
    margin:.5em 0;
}

blockquote {
    padding-left:2em;
    padding-right:2em;
    font-style:italic;
    margin:2em 0;
    border-left: 2px solid #3366DD;
}

p {
    margin:2em 1em 2em 0;
}

label {
    float:right;
    font-weight:bold;
}

li.post, li.comment, div#comment-reply {
    font-size:0.75em;
    margin-bottom:2em;
    padding-bottom:6em;
}

h4 {
    font-size:1.2em;
    clear:both;
    margin:1em 0;
}

blockquote.preview {
    padding:0 2em;
    border:1px solid #ccc;
}

#id_name,
#id_url,
#id_email {
    width:65%;
}

div#error h1 {
    font-size:15em;
}

div#error h3 {
    font-size:2em;
}

.post ul, .post ol {
    padding-left:2em;
}

.post ul li {
    list-style-type:square;
}

.post ol li {
    list-style-type:decimal;
}

.post-info {
    position:relative;
    left:-15.25em;
    margin-bottom:-3.6em;
    font-size:1.2em;
    color: #999;
    width: 12em;
    text-align: right;
}

ol#next-prev-posts {
    padding:0;
    margin-bottom:6em;
    font-weight:bold;
}

li#prev-post {
    float: left;
    list-style-type:none;
    margin:0;
    padding:0;
}

li#next-post {
    float: right;
    list-style-type:none;
    margin:0;
    padding:0;
}
