body {
    background-color:#F3F3F3;
    font-family:"Helvetica Neue", Helvetica, sans-serif;
    border-top:5px solid #252525;
}

code, pre {
    background-color:#F0F0F0 !important;
    font-size:1.1em;
}

pre {
    margin:2em 0;
    line-height: 1.5;
}

em {
    font-style:italic;
}

strong {
    font-weight:bold;
}

div#footer {
    clear:both;
    text-align:center;
}

div#super-wrap {
    line-height:2;
    padding:30px;
}

p.edit {
    border: 1px solid #c0c0c0;
    padding: 1em;
}

div#header-bar li a {
    font-weight:bold;
    font-size:.9em;
    margin:20px 0;
    text-transform:lowercase;
}

div#header-bar {
    float:left;
    line-height:2;
}

div#wrap {
    margin:0 15em;
    width:34em;
}

#footer p {
    margin:3em 15em;
    width:34em;
}


h3 {
    font-size:1.2em;
    margin:0.75em 0;
}

a, a:visited, a:active {
    color:#333333;
    font-weight:bold;
    text-decoration:none;
}

a:hover {
    background-color:#333;
    color:#f0f0f0;
}

h1 a, h2 a {
    font-size:20px;
    font-weight:bold;
}

h1 a {
    text-transform:lowercase;
}

div#header-container {
}

blockquote {
    padding-left:2em;
    padding-right:2em;
    font-style:italic;
    margin:2em 0;
}

p {
    margin:1.5em 1em 1.5em 0;
}

label {
    float:right;
    font-weight:bold;
}

li.post, li.comment, div#comment-reply {
    color:#333333;
    font-size:0.85em;
    margin-bottom:1.5em;
    padding-bottom:1.5em;
    border-bottom:1px solid #ccc;
}

h4 {
    font-size:1.2em;
    clear:both;
}

blockquote.preview {
    padding:0 1.5em;
    border:1px solid #ccc;
}

#id_name,
#id_url,
#id_email {
    width:65%;
}

div#error h1 {
    font-size:15em;
}

div#error h3 {
    font-size:2em;
}

.post ul, .post ol {
    padding-left:2em;
}

.post ul li {
    list-style-type:square;
}

.post ol li {
    list-style-type:decimal;
}

.post-info {
    color:#777;
}

ol#next-prev-posts {
    padding:0;
    margin-bottom:5em;
    font-weight:bold;
}

li#prev-post {
    float: left;
    list-style-type:none;
    margin:0;
    padding:0;
}

li#next-post {
    float: right;
    list-style-type:none;
    margin:0;
    padding:0;
}
