<!DOCTYPE html>
<html>
    <head>
        <title>{% block full_title %}{% block title %}{% endblock %}Nick Fitzgerald{% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset/reset-min.css" />
        <style>
            {% include "blimp/base.css" %}
        </style>

        <link rel="alternate" type="application/rss+xml"  href="{% url blimp_index %}feeds/latest-rss/" title="Latest entries - RSS" />
        <link rel="alternate" type="application/atom+xml"  href="{% url blimp_index %}feeds/latest-atom/" title="Latest entries - Atom" />
    </head>
    <body>
        <div id="header-bar">
            <ul>
                <li>
                    <a href="{% url blimp_index %}">Nick Fitzgerald</a>
                </li>
                <li>
                    <a href="{% url blimp_index %}">Weblog</a>
                </li>
                <li>
                <a href="{% url blimp_contact %}">Contact</a>
                </li>
            </ul>
        </div>
        <div id="wrap">
            {% block content %}
                Stuff!
            {% endblock %}
        </div>
    </body>
</html>
