body, html {
    font-size:.95em;
    font-family: Helvetica, Verdana, sans-serif;
    line-height: 2;
    background-color:#EEEEEE;
}

strong {
    font-weight:bold;
}

em {
    font-style:italic;
}

a:visited,
a:active,
a {
    color:#2222FF;
    text-decoration:none;
    border-bottom:1px solid #AABBAA;
}

a:hover {
    border-bottom:1px solid #000000;
}

h2 a {
    font-weight:bold;
    margin:1.5em 0;
}

div#wrap {
    width:39em;
    margin:0 auto 3em;
    border-left:2px solid #9999CC;
    border-right:2px solid #9999CC;
    border-bottom:2px solid #9999CC;
    padding:1.5em 3em;
    background-color:#FFFFFF;
    clear:both;
    -moz-border-radius-bottomleft: .5em;
    -moz-border-radius-bottomright: .5em;
    -webkit-border-bottom-right-radius: .5em;
    -webkit-border-bottom-left-radius: .5em;
}

abbr {
    letter-spacing:.05em;
    border-bottom:.1em dotted #AAAAAA;
}

blockquote {
    margin: 3em;
}

h3,
pre,
p {
    margin:1.5em 0;
}

pre {
    overflow:auto;
}

h3.question {
    text-transform:uppercase;
    font-style:italic;
    color:#777;
    font-size:.8em;
    font-weight:bold;
}

h3.question code {
    font-style:none;
}

/******************** header ***************************/
div#header-bar {
    width:45em;
    margin:3em auto 0;
    background-color:#FFFFFF;
    height:4em;
    border-color:#9999CC;
    border-style:solid;
    border-width:2px 2px 0;
    -moz-border-radius-topleft: .5em;
    -moz-border-radius-topright: .5em;
    -webkit-border-top-right-radius: .5em;
    -webkit-border-top-left-radius: .5em;
}

div#header-bar ul {
    margin:0 1.5em;
}

div#header-bar ul li a {
    float:left;
    line-height:400%;
    padding: 0 1.5em;
    text-decoration:none;
    border-bottom:0;
}

div#header-bar ul li a:hover {
    line-height:300%;
    padding-bottom:1em;
}

/******************* index page ***************************/
div#wrap ul.post-list li.post {
    margin:.75em 0;
    padding:.75em 0;
    border-bottom:.25em solid #DDFFEE;
    clear:both;
}

p.post-info {
    color: #88BBAA;
    font-size:.75em;
    float:right;
}

div.post-content ul li {
    list-style-type:square;
    margin-left:2em;
}

div.post-content ol li {
    list-style-type:lower-roman;
}

/*************** Error handling styles *****************/
div#error h1 {
    font-size:15em;
    text-align:center;
}

div#error h3 {
    font-size:3em;
    text-transform:uppercase;
    text-align:center;
}

div#error p {
    text-align:center;
    font-family:Helvetica, sans-serif;
}
