<!DOCTYPE html>
<html>
    <head>
        <title>{% block full_title %}{% block title %}{% endblock %}Nick Fitzgerald's Weblog @ fitzgeraldnick.com{% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset/reset-min.css" />
        <link rel="stylesheet" type="text/css" href="http://fitzgeraldnick.com/weblog/static/base.css" />
        <link rel="stylesheet" type="text/css" href="http://fitzgeraldnick.com/weblog/static/sh_style.css" />

        <link rel="alternate" type="application/atom+xml"  href="{% url blimp_index %}feeds/latest-atom/" title="Latest Entries - Atom" />
        <link rel="alternate" type="application/rss+xml"  href="{% url blimp_index %}feeds/latest-rss/" title="Latest Entries - RSS" />
        <link rel="alternate" type="application/atom+xml" 
         href="http://www.google.com/reader/public/atom/user%2F06111624940130850285%2Fstate%2Fcom.google%2Fbroadcast"
         title="Latest Reading - Atom" />

         <meta name="verify-v1" content="tkhIz+JdwgFkL06ipDoDLFeC5ZCx7nPFxmtn63BR4Ow=" />
    </head>
    <body>
        <div id="super-wrap">
            <h1>{% block page_title %}Nick Fitzgerald{% endblock %}</h1>
            <div id="header-bar">
                <ul>
                    <li>
                        <a href="{% url blimp_index %}">Weblog</a>
                    </li>
                    <li>
                        <a href="http://github.com/fitzgen/">GitHub</a>
                    </li>
                    <li>
                        <a href="http://www.google.com/reader/shared/fitzgen">Reader</a>
                    </li>
                    <li>
                        <a href="{% url blimp_contact %}">Contact</a>
                    </li>
                </ul>
            </div>
            <div id="wrap">
                {% block content %}
                    Stuff!
                {% endblock %}
            </div>
            <div id="footer">
                <p>:-)</p>
            </div>
        </div>

        {# Google Analytics #}
        <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-10103011-1");
            pageTracker._trackPageview();
        } catch(err) {}</script>

        {# Syntax Highlighting #}
        <script type="text/javascript" src="http://fitzgeraldnick.com/weblog/static/sh_main.min.js"></script>
        <script type="text/javascript" src="http://fitzgeraldnick.com/weblog/static/sh_html.min.js"></script>
        <script type="text/javascript" src="http://fitzgeraldnick.com/weblog/static/sh_javascript.min.js"></script>
        <script type="text/javascript" src="http://fitzgeraldnick.com/weblog/static/sh_python.js"></script>
        <script type="text/javascript">
            sh_highlightDocument();
        </script>
    </body>
</html>
