<!DOCTYPE html>
<html>
    <head>
        <title>{% block full_title %}{% block title %}{% endblock %}Nick Fitzgerald's Weblog @ fitzgeraldnick.com{% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset/reset-min.css" />
        <link rel="stylesheet" type="text/css" href="http://fitzgeraldnick.com/weblog/static/sh_style.css" />
{#        <link rel="stylesheet" type="text/css" href="http://fitzgeraldnick.com/weblog/static/base.css" /> #}

        <link rel="alternate" type="application/atom+xml"
              href="{% url blimp_index %}feeds/latest-atom/"
              title="Latest Entries" />
        <link rel="alternate" type="application/atom+xml" 
         href="http://www.google.com/reader/public/atom/user%2F06111624940130850285%2Fstate%2Fcom.google%2Fbroadcast"
         title="Latest Reading" />

	<style type="text/css">
	    {% include "static/base.css" %}
	</style>

        <meta name="verify-v1" content="tkhIz+JdwgFkL06ipDoDLFeC5ZCx7nPFxmtn63BR4Ow=" />
    </head>
    <body>
        <div id="super-wrap">
            <div id="header-bar">
                <div id="header-container">
                    <h1>I'm <a href="/">{% block page_title %}Nick Fitzgerald{% endblock %}.</a></h1>
                    <p>This is my <a href="{% url blimp_index %}">weblog</a>. 
		    You can also check out my shared items
                    from <a href="http://www.google.com/reader/shared/fitzgen">Reader</a>,
                    code on <a href="http://github.com/fitzgen">GitHub</a>,
                    or you can <a href="{% url blimp_contact %}">contact me</a>.</p>
                </div>
            </div>
            <div id="wrap">
                {% block content %}
                    Stuff!
                {% endblock %}
            </div>
            <div id="footer">
                <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/us/80x15.png" /></a><br />This <span xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/Text" rel="dc:type">work</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://fitzgeraldnick.com/" property="cc:attributionName" rel="cc:attributionURL">Nick Fitzgerald</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/">Creative Commons Attribution-Noncommercial-Share Alike 3.0 United States License</a>.</p>
            </div>
        </div>

        <a href="http://github.com/fitzgen">
            <img style="position: absolute; top: 0; right: 0; border: 0;" 
                 src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" 
                 alt="Fork me on GitHub" />
        </a>

        {# Google Analytics #}
        <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-10103011-1");
            pageTracker._trackPageview();
        } catch(err) {}</script>

        {# Syntax Highlighting #}
        <script type="text/javascript" src="http://fitzgeraldnick.com/weblog/static/sh_main.min.js"></script>
        <script type="text/javascript" src="http://fitzgeraldnick.com/weblog/static/sh_html.min.js"></script>
        <script type="text/javascript" src="http://fitzgeraldnick.com/weblog/static/sh_javascript.min.js"></script>
        <script type="text/javascript" src="http://fitzgeraldnick.com/weblog/static/sh_python.js"></script>
        <script type="text/javascript">
            sh_highlightDocument();
        </script>
    </body>
</html>
