body, html {
    font-size:.95em;
    font-family: Helvetica, Verdana, sans-serif;
    line-height: 1.5;
    background-color:#EEFFEE;
}

a:visited,
a:active,
a {
    color:#000000;
    text-decoration:none;
    border-bottom:1px solid #AABBAA;
}

a:hover {
    border-bottom:1px solid #000000;
}

h2 a {
    font-weight:bold;
    margin:1.5em 0;
}

div#wrap {
    width:39em;
    margin:0 auto;
    border-left:.5em solid #DDFFEE;
    border-right:.5em solid #DDFFEE;
    border-bottom:.5em solid #DDFFEE;
    padding:1.5em 1em;
    background-color:#EEFFFF;
    clear:both;
}

abbr {
    letter-spacing:.05em;
    border-bottom:.1em dotted #AAAAAA;
}

blockquote {
    margin: 3em;
}

p {
    margin:1.5em 0;
}

/******************** header ***************************/
div#header-bar {
    width:44em;
    margin:0 auto;
    background-color:#DDFFEE;
    height:2em;
    -moz-border-radius-bottomleft: .5em;
    -moz-border-radius-bottomright: .5em;
    -webkit-border-bottom-right-radius: .5em;
    -webkit-border-bottom-left-radius: .5em;
}

div#header-bar ul {
    margin:0 1em;
}

div#header-bar ul li a {
    float:left;
    line-height:200%;
    padding: 0 1.5em;
    color:#000000;
    text-decoration:none;
    border-bottom:0;
}

div#header-bar ul li a:hover {
    border-top:.28em solid #AABBAA;
    line-height:150%;
    padding-bottom:.22em;
}

/******************* index page ***************************/
div#wrap ul.post-list li.post {
    margin:.75em 0;
    padding:.75em 0;
    border-bottom:.25em solid #DDFFEE;
    clear:both;
}

p.post-info {
    color: #88BBAA;
    font-size:.75em;
    float:right;
}

div.post-content ul li {
    list-style-type:square;
    margin-left:2em;
}

div.post-content ol li {
    list-style-type:lower-roman;
}

/*************** Error handling styles *****************/
div#error h1 {
    font-size:15em;
    text-align:center;
}

div#error h3 {
    font-size:3em;
    text-transform:uppercase;
    text-align:center;
}

div#error p {
    text-align:center;
    font-family:Helvetica, sans-serif;
}
