{% load comments %}

<li class="post">
    <p class="post-info">{{ object.pub_date|date:"F jS, Y" }}</p>
    <h2 class="post-title {% if short %}{% if featured %}{% else %}short-title{% endif %}{% endif %}">
        <a href="{% url blimp_detail object.id %}">{{ object.title|title }}</a>
    </h2>
    <div class="post-content">
        {#{% if not short %}#}
            {{ object.content|safe }}

            {% if next_post or prev_post %}
            <ol id="next-prev-posts">
                {% if next_post %}
                <li id="next-post">
                    <a href="{% url blimp_detail next_post.id %}"
                       title="{{ next_post.title|title }}">Next Entry</a> &raquo;
                </li>
                {% endif %}
                {% if prev_post %}
                <li id="prev-post">
                    &laquo; <a href="{% url blimp_detail prev_post.id %}"
                               title="{{ prev_post.title|title }}">Previous Entry</a>
                </li>
                {% endif %}
            </ol>
            {% endif %}
        {#{% endif %}#}
    </div>

    {% include "Blimp/comments_count.html" %}

</li>
