{% extends 'Blimp/base.html' %}
{% load comments %}

{% block content %}

    <ul class="post-list">
    {% include "Blimp/post_info.html" %}
    </ul>

    {% get_comment_count for object as comment_count %}
    <p>{{ comment_count }} comment{{ comment_count|pluralize }}.</p>

    {% get_comment_list for object as comments %}
    <dl id="comments">
        {% for comment in comments %}
            <dt>{{ comment.user_name }}</dt>
            <dl>{{ comment.comment }}</dl>
        {% endfor %}
    </dl>

    <div>{% render_comment_form for object %}</div>

{% endblock %}
