{% extends 'Blimp/base.html' %}
{% block content %}

  {% for object in object_list %}
    {% include "Blimp/post_info.html" %}
  {% endfor %}

  {% if has_next %}
  <p id="prev-post" class="span-12">
    &laquo; <a href="{% url blimp_index %}?page={{ next }}"
               title="Older Posts">Older Entries</a>
  </p>
  {% endif %}
  {% if has_previous %}
  <p id="next-post" class="span-3">
    <a href="{% url blimp_index %}?page={{ previous }}"
       title="Newer Posts">Newer Entries</a> &raquo
  </p>
  {% endif %}

{% endblock %}
