<h2>
  <a href="{% url blimp_detail object.id %}">{{ object.title }}</a>
</h2>

<p class="alt">{{ object.pub_date|date:"F jS, Y" }}</p>

{{ object.content|safe }}

{% if next_post or prev_post %}
{% if prev_post %}
<p class="span-12">
  &laquo; <a href="{% url blimp_detail prev_post.id %}"
             title="{{ prev_post.title|title }}">Previous Entry</a>
</p>
{% endif %}
{% if next_post %}
<p class="span-3">
  <a href="{% url blimp_detail next_post.id %}"
     title="{{ next_post.title|title }}">Next Entry</a> &raquo;
</p>
{% endif %}
{% endif %}

<div class="clear">
  {% include "Blimp/comments_count.html" %}
</div>

<hr />
