{% extends 'Blimp/base.html' %}
{% load comments %}

{% block title %}{{ object.title|title }} @ {% endblock %}
{% block content %}

    <ul class="post-list">
    {% include "Blimp/post_info.html" %}
    </ul>

    {% if next_post or prev_post %}
    <ol id="next-prev-posts">
        {% if prev_post %}
        <li id="prev-post">
            &laquo; <a href="{% url blimp_detail prev_post.id %}">{{ prev_post.title|title }}</a>
        </li>
        {% endif %}
        {% if next_post %}
        <li id="next-post">
            <a href="{% url blimp_detail next_post.id %}">{{ next_post.title|title }}</a> &raquo;
        </li>
        {% endif %}
    </ol>
    {% endif %}

    {% get_comment_list for object as comments %}
    <ul id="comments">
        {% for comment in comments %}
            {% include "Blimp/comment.html" %}
        {% endfor %}
    </ul>

    <div id="comment-reply">
    {% if object.comments_open %}
        <p>I ask that you use your <strong>real name</strong>, as well as be
        <strong>respectful and constructive</strong>, when leaving your comment
        on my blog.</p>
        <p>Your email will <strong>not</strong> be publicly visible.</p>
        {% render_comment_form for object %}
    {% else %}
        <p><strong>Comments are closed.</strong></p>
        <p>Comments get closed two weeks after a post is published. You can
        still <a href="{% url blimp_contact %}">contact me</a>, though.</p>
    {% endif %}
    </div>

{% endblock %}
